@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');

html, body{
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    // standard for the page
}

.wrapper-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.btn-yellow {
    background-color: #f9d783;
    border: 1px solid #f9d783;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9rem;
    }

    &:hover{
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
       
    }
}
.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9rem;
    }

    &:hover{
        background-color: #ffffff;
        border: 1px solid #191919;
        color: #191919;  
    }

}
.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    border-radius: 25px;
    

    i {
        margin-left: 8px;
        font-size: 0.9rem;
    }

    &:hover{
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }
}

.btn-service {
    background-color: #191919;
    border: 1px solid #191919;
    color: #FFFFFF;
    text-decoration: none;
    padding: 25px 20px 20px 20px;
    margin-left: 180px;
    
    font-weight: 600;
    border-radius: 999px;

    i {
        // margin-left: 8px;
        font-size: 1.5rem;
        font-weight: 100;
        
        
        
    }
}

.section-title {
    // This will occur in several sections
    padding-top: 70px;
    padding-bottom: 30px;

    @media (min-width: 768px){
        padding-top: 120px;
        padding-bottom: 90px;

    }

    p{
        color: #F94D1C;
        margin-bottom: 10px;
    }
    
    h2{
        color: #191919;
        font-family: 'Dm Sans', sans-serif;
        font-weight: 700;
        font-size: 45px;
    }
}

.center-content {
display: flex;
justify-content: center;
align-items: center;
}

// header section

header {
    background-color:#F0EFE9;
    padding: 16px;

    .container{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto;
        grid-template-areas:    "logo bars";

        @media (min-width: 992px) {
            grid-template-columns: auto 1fr auto;
            // define where they should be located (grid-template-area)
            grid-template-areas:    "logo cib social"
                                    "logo menu menu";
        }
        
        .btn-menubars{
            grid-area: bars;
            border: none;
            font-size: 25px;
            background-color: transparent;

            @media (min-width: 992px) {
                display: none;
            }
        }                       

        .logotype{
            grid-area: logo;
            margin-right: 70px;
          
        }
        .contactinformation-bar{
            grid-area: cib;
            display: none;
     
            justify-content: flex-start;
            align-items: center;
       
            // Over 1200px show contactinformation-bar
            @media (min-width: 1200px) {
                display: flex;
            }

            .content-box{
                padding-right: 30px;
                margin-right: 30px;
                border-right: 1px solid #DAD9D3;
                font-family: 'Inter', sans-serif;
                font-size: 15px;
                font-weight: 300;

            i{
                margin-right: 5px;
                font-size: 1.2rem;
            }
            
            // &.last = i.last
            &.last{
                border: none;
            }
        }

        }
        .socialmedia-bar{
            grid-area: social;
            display: none;
  
            @media (min-width: 992px) {
                display: block;
            }
            
            a{
                color: #191919;
                font-size: 1.3rem;
                margin-left: 10px;

                &:hover{
                    color: #7a7a7a;
                }
            }
        }
        .menu{
            grid-area: menu;
            display: none;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid #DAD9D3;
            margin-top: 10px;
            padding-top: 10px;
    
            @media (min-width: 992px) {
                display: flex;
            }
            nav{
                a{
                    // nead to change to block, a is inline
                    display: inline-block;
                    color: #191919;
                    text-decoration: none;
                    margin-right: 35px;
                    position: relative;

                    &.active {
                        font-weight: 500;
                    
                    }
                    // After active will the following to occur
                    &.active::after,
                    &:hover::after {
                        content: '';
                        font-weight: 500;
                        position: absolute;
                        height: 2px;
                        width: 15px;
                        background-color: #191919;
                        left: 50%;
                        bottom: -3px;
                        transform: translate((calc(50% - 15px)));
                    }
                }
            }

            .btn-login{
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }

    }
}

// showcase section

.showcase {
    background-color:#F0EFE9;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        
        .content {
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;
            // all text center under content included h p a
            
            @media (min-width: 1200px){
                text-align: left;
            }

            h1{
                font-family: 'Dm Sans', sans-serif;
                font-weight: 700;
                font-size: 40px;
               

                @media (min-width: 768px){
                    font-size: 70px;
                }
                @media (min-width: 1400px){
                    font-size: 86px;
                }
            }

            p{
                font-size: 18px;
                padding-top: 40px; 
                padding-bottom: 40px;
                padding-left: 10px;
                padding-right: 10px;
                // Same result with margin
                
                @media (min-width: 768px){
                    font-size: 20px;
                    padding-bottom: 40px;
                    padding-left: 0px;
                    padding-right: 0px;
                }


            }

            a{
                margin-right: 0px;
                display: block; //btn under eatch other
                margin-bottom: 20px;

                @media (min-width: 768px){
                    margin-right: 10px;
                    display: inline-block; //btn next to eatch other
                }
            }
        }

        img{
            display: none;
            margin-right: -50px;

            @media (min-width: 1200px){
                display: block;
            }
        }
    }
}

// brand section

.brand{
display: none;
    
    @media (min-width: 1200px){
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 100px;
    }

   img{
    display: none;
    margin-left: 60px;
    margin-right: 60px;
    height: 60px;
    width: auto;

        @media (min-width: 1400px){
            display: inline-block   
        }
    }
}

// accounting is trusted section

.accounting{
    border: solid 1px #191919;
    margin: 100px;
    padding: 50px;

    @media (min-width: 1200px) {
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    .section-title,
    .container{
        flex: 1;
    }

    .section-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .btn-yellow{
            padding-left: 15px;
            padding-right: 15px;
            margin-top: 20px;
        }

        @media (min-width: 992px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin-top: -100px;
            margin-left: -100px;
    
            .btn-yellow{
                padding-left: 150px;
                padding-right: 150px;
            }
        }
    }

    .container{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        gap: 10px;

        @media (min-width: 992px) {
            grid-template-columns: 1fr 1fr;
        }

        .business-advice,
        .startup-business,
        .financial-advice,
        .risk-management{
            width: 220px;
        }
        
        .business-advices,
        .startup-businesss,
        .financial-advices,
        .risk-managements {
            text-decoration: none;
            color: #191919;
            i{
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: x-large
            }

            h3{
                color: #191919;
                font-family: 'Dm Sans', sans-serif;
                font-size: 22px;
                font-weight: 700;
                line-height: 1.5;  
            }
        }
    } 
}

// our services section



.services-section{
    background-color:#F0EFE9;
    position: relative;
    
    .lines-white-right{
       
        position: absolute;
        bottom: 0px;
        right: 0;
    


    }
    
    @media (min-width: 768px){
        padding-top: 120px;
        padding-bottom: 120px;   
    }

    .section-title{
        text-align: center;

        @media (min-width: 768px){
            text-align: left;
            margin-bottom: 0px;
            margin-left: 75px;    
        }

        h2{
            font-family: 'Dm Sans', sans-serif;
            font-weight: 700;
            font-size: 30px;
            padding-bottom: 40px;
            
            @media (min-width: 768px){
                font-size: 50px;
                margin-bottom: 0px;
            }
           
            @media (min-width: 1400px){
                font-size: 66px;
                margin-bottom: 0px;    
            }
        } 
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width: 768px){
            text-align: left;
            margin-bottom: 0px; 
        }

        .services-sections{
            display: grid;
            grid-template-columns: 1fr ;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            gap: 30px;
            margin-top: -60px;
            margin-bottom: 45px;

            @media (min-width: 576px){

                grid-template-columns: 1fr 1fr;
                grid-template-rows:  1fr 1fr ;
            }

            @media (min-width: 1400px){

                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr ;
            }

            div{
                width: 308px;
                height: 333px;
                background-color: #FFFFFF;
                padding: 25px;
                
                &:hover{
                    background-color:  #f9d783;
                    .btn-service{
                        background-color: #FFFFFF;
                        border: 1px solid #FFFFFF;
                        color:#191919;
                    }
                } 
            }

            .services{
                text-decoration: none;
                color: #191919;

                h3{
                    font-family: 'Dm Sans', sans-serif;
                    font-weight: 700;
                    font-size: 30px;   
                }

                p{
                    font-family: inter;
                    font-weight: 400;
                    line-height: 1.8;
                    margin-bottom: 60px;
                }
            }
        }
    }     
        .btn-transparent{ margin-bottom: 60px;
        
            @media (min-width: 768px){
                margin-bottom: 0px;
            }
        } 
}

// project & case studies section

.project-and-case{
    .container{

        .section-title{
            text-align: center; 
        }
        .project-and-cases{
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;

            @media (min-width: 768px){
                grid-template-columns: 1fr 1fr;
            }

            .project{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto;
                color: #191919;
                text-decoration: none;
                //smal grid system to help 820px to get line on same row

                img{
                width: 100%;
                height: auto;
                // Make image responsive
                
                }
                h3{
                    font-family: 'Dm Sans', sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                    padding-top: 35px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #DAD9D3;
                }

                .readmore{
                    padding: 15px;
                    display: block;
                    // need to change to block because initially it is inline
                    text-align: right;
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    text-decoration: none;
                    color: #191919;

                    i{
                        margin-left: 3px;
                    }
                }

                &:hover .readmore{
                    text-decoration: underline;
                }
            }
        }
        .center-content{
            margin-top: 50px;
            margin-bottom: 90px;
        }
    }
}

// newsletter section

.newsletter{
    background-color: #F0EFE9;
    position: relative;
    
    .background-wavy-lines{
        display: none;
    
        @media (min-width: 1600px){
        display: block;
        position: absolute;
        bottom: 50px;
        right: 0;
        }

    }
    
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 80px;
        padding-bottom: 80px;

        @media (min-width: 992px){
            flex-direction: row;
            
        }

        h2{
            font-family: 'DM Sans', sans-serif;
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 40px;

            @media (min-width: 992px){
                margin: 0px;
            }


            @media (min-width: 1200px){
                font-size: 45px;
                margin-bottom: 0px;    
            }
        }
        
        form{
            input{
                
                
                outline: none;
                border: 1px solid rgb(25, 25, 25, 0.10);
                color: #191919;
                text-decoration: none;
                padding: 15px 30px;
                border-radius: 25px;
                margin-right: 20px;
            }
        }
    }
}

