@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.wrapper-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.btn-yellow {
  background-color: #f9d783;
  border: 1px solid #f9d783;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 25px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9rem;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 25px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9rem;
}
.btn-black:hover {
  background-color: #ffffff;
  border: 1px solid #191919;
  color: #191919;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 25px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9rem;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-service {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  text-decoration: none;
  padding: 25px 20px 20px 20px;
  margin-left: 180px;
  font-weight: 600;
  border-radius: 999px;
}
.btn-service i {
  font-size: 1.5rem;
  font-weight: 100;
}

.btn-round {
  background-color: #ffffff;
  border: 1px solid rgb(219, 219, 219);
  color: #191919;
  text-decoration: none;
  border-radius: 50px;
  height: 60px;
  width: 60px;
}
.btn-round i {
  margin-left: 0px;
  font-size: 1.5rem;
}
.btn-round:hover {
  background-color: #ffffff;
  border: 1px solid #191919;
  color: #191919;
}

.section-title {
  padding-top: 70px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .section-title {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}
.section-title p {
  color: #F94D1C;
  margin-bottom: 10px;
}
.section-title h2 {
  color: #191919;
  font-family: "Dm Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo bars";
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo cib social" "logo menu menu";
  }
}
header .container .btn-menubars {
  grid-area: bars;
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .btn-menubars {
    display: none;
  }
}
header .container .logotype {
  grid-area: logo;
  margin-right: 70px;
}
header .container .contactinformation-bar {
  grid-area: cib;
  display: none;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .contactinformation-bar {
    display: flex;
  }
}
header .container .contactinformation-bar .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .contactinformation-bar .content-box i {
  margin-right: 5px;
  font-size: 1.2rem;
}
header .container .contactinformation-bar .content-box.last {
  border: none;
}
header .container .socialmedia-bar {
  grid-area: social;
  display: none;
}
@media (min-width: 992px) {
  header .container .socialmedia-bar {
    display: block;
  }
}
header .container .socialmedia-bar a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
}
header .container .socialmedia-bar a:hover {
  color: #7a7a7a;
}
header .container .menu {
  grid-area: menu;
  display: none;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #DAD9D3;
  margin-top: 10px;
  padding-top: 10px;
}
@media (min-width: 992px) {
  header .container .menu {
    display: flex;
  }
}
header .container .menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu nav a.active {
  font-weight: 500;
}
header .container .menu nav a.active::after, header .container .menu nav a:hover::after {
  content: "";
  font-weight: 500;
  position: absolute;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu .btn-login {
  padding-top: 12px;
  padding-bottom: 12px;
}

.showcase {
  background-color: #F0EFE9;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "Dm Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    margin-right: 10px;
    display: inline-block;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.brand {
  display: none;
}
@media (min-width: 1200px) {
  .brand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
.brand img {
  display: none;
  margin-left: 60px;
  margin-right: 60px;
  height: 60px;
  width: auto;
}
@media (min-width: 1400px) {
  .brand img {
    display: inline-block;
  }
}

.accounting {
  border: solid 1px #191919;
  margin: 100px;
  padding: 50px;
}
@media (min-width: 1200px) {
  .accounting {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.accounting .section-title,
.accounting .container {
  flex: 1;
}
.accounting .section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.accounting .section-title .btn-yellow {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
}
@media (min-width: 992px) {
  .accounting .section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: -100px;
    margin-left: -100px;
  }
  .accounting .section-title .btn-yellow {
    padding-left: 150px;
    padding-right: 150px;
  }
}
.accounting .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  gap: 10px;
}
@media (min-width: 992px) {
  .accounting .container {
    grid-template-columns: 1fr 1fr;
  }
}
.accounting .container .business-advice,
.accounting .container .startup-business,
.accounting .container .financial-advice,
.accounting .container .risk-management {
  width: 220px;
}
.accounting .container .business-advices,
.accounting .container .startup-businesss,
.accounting .container .financial-advices,
.accounting .container .risk-managements {
  text-decoration: none;
  color: #191919;
}
.accounting .container .business-advices i,
.accounting .container .startup-businesss i,
.accounting .container .financial-advices i,
.accounting .container .risk-managements i {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: x-large;
}
.accounting .container .business-advices h3,
.accounting .container .startup-businesss h3,
.accounting .container .financial-advices h3,
.accounting .container .risk-managements h3 {
  color: #191919;
  font-family: "Dm Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
}

.about-company {
  margin-bottom: 120px;
}
.about-company .container .container-about-company .woman .box {
  width: 375px;
  height: 180px;
  background-color: #BEEBFF;
  padding-top: 40px;
  padding-left: 25px;
}
.about-company .container .container-about-company .woman .box .name-founder {
  display: flex;
  align-items: center;
}
.about-company .container .container-about-company .woman .box .name-founder .name {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-right: 5px;
}
.about-company .container .container-about-company .woman .box .name-founder .founder {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #F94D1C;
}
.about-company .container .container-about-company .about-companys {
  padding: 10px;
  margin-top: 40px;
}
.about-company .container .container-about-company .about-companys .company-heding {
  color: #F94D1C;
}
.about-company .container .container-about-company .about-companys h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 15px;
}
.about-company .container .container-about-company .about-companys p {
  line-height: 2;
}
.about-company .container .container-about-company .about-companys a {
  text-decoration: none;
  color: #191919;
}
.about-company .container .container-about-company .about-companys a i {
  margin: 20px;
}
@media (min-width: 1400px) {
  .about-company .container-about-company {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .about-company .container-about-company .woman {
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    z-index: -10;
  }
  .about-company .container-about-company .woman .box {
    position: absolute;
    width: 375px;
    height: 180px;
    background-color: #BEEBFF;
    bottom: 40px;
    right: 220px;
  }
  .about-company .container-about-company .woman .line {
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 0px;
  }
  .about-company .container-about-company .about-companys {
    margin-left: 50px;
    margin-right: 50x;
    margin-top: 0px;
    height: auto;
    width: 540px;
    padding: 0px;
  }
  .about-company .container-about-company .about-companys .btn-black {
    font-weight: 100;
    margin-bottom: 10px;
  }
  .about-company .container-about-company .about-companys a {
    font-weight: 100;
  }
  .about-company .container-about-company .about-companys a i {
    padding-top: 100px;
    font-size: 50px;
  }
}

.services-section {
  background-color: #F0EFE9;
  position: relative;
}
.services-section .lines-white-right {
  position: absolute;
  bottom: 0px;
  right: 0;
}
@media (min-width: 768px) {
  .services-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.services-section .section-title {
  text-align: center;
}
@media (min-width: 768px) {
  .services-section .section-title {
    text-align: left;
    margin-bottom: 0px;
    margin-left: 75px;
  }
}
.services-section .section-title h2 {
  font-family: "Dm Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .services-section .section-title h2 {
    font-size: 50px;
    margin-bottom: 0px;
  }
}
@media (min-width: 1400px) {
  .services-section .section-title h2 {
    font-size: 66px;
    margin-bottom: 0px;
  }
}
.services-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .services-section .container {
    text-align: left;
    margin-bottom: 0px;
  }
}
.services-section .container .services-sections {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-top: -60px;
  margin-bottom: 45px;
}
@media (min-width: 576px) {
  .services-section .container .services-sections {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (min-width: 1400px) {
  .services-section .container .services-sections {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
.services-section .container .services-sections div {
  width: 308px;
  height: 333px;
  background-color: #FFFFFF;
  padding: 25px;
}
.services-section .container .services-sections div:hover {
  background-color: #f9d783;
}
.services-section .container .services-sections div:hover .btn-service {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: #191919;
}
.services-section .container .services-sections .services {
  text-decoration: none;
  color: #191919;
}
.services-section .container .services-sections .services h3 {
  font-family: "Dm Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
}
.services-section .container .services-sections .services p {
  font-family: inter;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 60px;
}
.services-section .btn-transparent {
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .services-section .btn-transparent {
    margin-bottom: 0px;
  }
}

.why-choose-us {
  margin-top: 60px;
}
.why-choose-us .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1400px) {
  .why-choose-us .container {
    flex-direction: row;
    justify-content: space-between;
  }
  .why-choose-us .container .best-business-image {
    position: relative;
    z-index: -10;
    top: 0px;
    left: 0px;
  }
  .why-choose-us .container .best-business-image .best-business-square {
    width: 1057px;
    height: 425px;
    background-color: #F0EFE9;
    z-index: -1;
    position: absolute;
    right: -300px;
    bottom: -340px;
  }
  .why-choose-us .container .best-business-image .best-image {
    position: absolute;
    z-index: 1;
    top: -270px;
    right: 0px;
  }
}
.why-choose-us .container .best-business {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.why-choose-us .container .best-business h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 40px;
}
.why-choose-us .container .best-business .why-Choose-us-heding {
  color: #F94D1C;
}
.why-choose-us .container .best-business .process {
  display: flex;
}
@media (min-width: 1400px) {
  .why-choose-us .container .best-business {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.project-and-case .container .section-title {
  text-align: center;
}
.project-and-case .container .project-and-cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .project-and-case .container .project-and-cases {
    grid-template-columns: 1fr 1fr;
  }
}
.project-and-case .container .project-and-cases .project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  color: #191919;
  text-decoration: none;
}
.project-and-case .container .project-and-cases .project img {
  width: 100%;
  height: auto;
}
.project-and-case .container .project-and-cases .project h3 {
  font-family: "Dm Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DAD9D3;
}
.project-and-case .container .project-and-cases .project .readmore {
  padding: 15px;
  display: block;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #191919;
}
.project-and-case .container .project-and-cases .project .readmore i {
  margin-left: 3px;
}
.project-and-case .container .project-and-cases .project:hover .readmore {
  text-decoration: underline;
}
.project-and-case .container .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}

.newsletter {
  background-color: #F0EFE9;
  position: relative;
}
.newsletter .background-wavy-lines {
  display: none;
}
@media (min-width: 1600px) {
  .newsletter .background-wavy-lines {
    display: block;
    position: absolute;
    bottom: 50px;
    right: 0;
  }
}
.newsletter .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (min-width: 992px) {
  .newsletter .container {
    flex-direction: row;
  }
}
.newsletter .container h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .newsletter .container h2 {
    margin: 0px;
  }
}
@media (min-width: 1200px) {
  .newsletter .container h2 {
    font-size: 45px;
    margin-bottom: 0px;
  }
}
.newsletter .container form input {
  outline: none;
  border: 1px solid rgba(25, 25, 25, 0.1);
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 25px;
  margin-right: 20px;
}